<import from="../../main-view/main-view"></import>
<import from="./login-partial/login" />
<import from="./user-partial/user" />
<import from="./admin-partial/admin" />

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3"
        style="background-color: #0a4275;">
        <div class="container-fluid">

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse ">
                <login></login>

                <a class="btn btn-outline-light" href="/main">Home</a>

                <div if.bind="isRoleUser()">
                    <user></user>
                </div>

                <div if.bind="isRoleAdmin()">
                    <admin></admin>
                </div>
            </div>

        </div>
        </div>
    </nav>
</header>