@model WebApp.Areas.Models.ItemAttributeModel

<div class="form-group">
    <label asp-for="ItemAttribute.AttributeName" class="control-label"></label>
    <input asp-for="ItemAttribute.AttributeName" class="form-control"/>
    <span asp-validation-for="ItemAttribute.AttributeName" class="text-danger"></span>
</div>