<p>userviews</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Storage Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody repeat.for="storage of storages">
        <tr>
            <td>
                ${storage.storageName}
            </td>
            <td>
                <a href="/Storage/Edit/${storage.id}">Edit</a> |
                <a href="/Storage/Details/${storage.id}">Details</a> |
                <a href="/Storage/Delete/${storage.id}">Delete</a>
            </td>
        </tr>
    </tbody>
</table>
<a class="btn btn-outline-primary btn-lg px-5" href="/storage/create">Create New</a>