<div class="container py-5 h-100">
    <div class="row justify-content-center align-items-center h-100">
        <div class="col-12 col-lg-9 col-xl-7">
            <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                <div class="card-body p-4 p-md-5 bg-dark text-white">
                    <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Registration Form</h3>
                    <form role="form" submit.trigger="registerForm()">

                        <div class="row">
                            <div class="col-md-6 mb-4">

                                <div class="form-outline">
                                    <input type="text" id="firstName" class="form-control form-control-lg" value.bind="firstName"/>
                                    <label class="form-label" for="firstName">First Name</label>
                                </div>

                            </div>
                            <div class="col-md-6 mb-4">

                                <div class="form-outline">
                                    <input type="text" id="lastName" class="form-control form-control-lg" value.bind="lastName" />
                                    <label class="form-label" for="lastName">Last Name</label>
                                </div>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 mb-4 pb-2">
                                <div class="form-outline">
                                    <input type="email" id="emailAddress" class="form-control form-control-lg" value.bind="email"/>
                                    <label class="form-label" for="emailAddress">Email</label>
                                </div>
                            </div>
                            <div class="col-md-6 mb-4 pb-2">
                                <div class="form-outline">
                                    <input type="password" id="password" class="form-control form-control-lg" value.bind="password"/>
                                    <label class="form-label" for="password">Password</label>
                                </div>

                            </div>
                        </div>
                        <div class="mt-4 pt-2">
                            <button class="btn btn-outline-light btn-lg px-5" type="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>